.title {
    font-family: "Roboto";
    font-weight: bold;
    size: 56px;
    letter-spacing: 2;
    line-height: 60px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none
}

.list {
    list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #2e2f42;
}

.list-item {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-item-link .link:hover .list-item-link .link:focus {
    color: #404bbf;
}

.address-list {
    font-style: normal;
    margin-left: auto;
}



.address-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list-item .link:hover .address-list-item .link:focus {
    color: #404bbf;
}